$grayColor1: #f2f2f2;
$grayColor2: #d7d7d7;
$grayColor3: #f0f0f0;
$grayColor4: #1d1d1d;
$grayMenu1: #636363;
$grayMenu2: #333333;
$redColor1: #ba1839;
$redColor2: #c1516f;
$gradientOfHeadButtons: linear-gradient(to top, lightgrey, $grayColor3);

$borderOfHeadButtons: 1px solid lightgray;